*{
    box-sizing: border-box;
}
.mappingHeader{
    color: white;
    padding: 50px;
}


.restColumn{
    float: left;
    width: 33.33%;
    padding: 10px;
    color: white;
}
.restColumn2{
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    height: 120px;
    background-color: dimgray;
}
.restColumn3{
    float: left;
    width: 20%;
    padding: 10px;
    color: white;
    height: 120px;
    margin-bottom: 10%;
}

.bodyStripe{
    width: 100%;
    height: 4px;
    background-color: greenyellow;
}

.restRow:after{
    content: "";
    display: table;
    clear: both;
}

.methodShow{
    float: left;
    width: 50%;
    padding: 10px;
    color: white;
    height: 200px;
}

.jsonExample{
    letter-spacing: 1px;
    float: left;
    width: 40%;
    padding: 10px;
    color: white;
    border: 2px;
    background: #2d2d30;
    height: 370px;
    margin-bottom: 5%;
    box-shadow: 3px 3px 5px green;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
}


