
body{
    background-image: url("../images/NodeJsBackground.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding: 80px 120px;
    color: white;
}

#npmVersion{
    padding: 80px 0px;
    color: #ffffff;
}
#expressInfo{
    padding: 80px 0px;
    color: #ffffff;
}


.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: greenyellow;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.4;
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover{
    color: lightslategray;
}

.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: greenyellow;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: lightslategray;
}

#sidebarMain{
    transition: margin-left .5s;
    padding: 20px;
}

.col-sm-4{
    width: 500px;
    height: 255px;
}

/* INDEX PAGE CSS */
#proxyButton{
    background-color: greenyellow;
    border: none;
    color: black;
    text-align: center;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    opacity: .9;
}


/*Mappings CSS */
*{
    box-sizing: border-box;
}
.mappingHeader{
    color: white;
    padding: 50px;

}

.restColumn{
    float: left;
    width: 33.33%;
    padding: 10px;
    color: white;
}

.restRow:after{
     content: "";
    display: table;
    clear: both;
}
