
body{
    background-image: url("../images/NodeJsBackground.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding: 80px 120px;
    color: white;
}

.navbar{
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: .9;
}

.navbar li a, .navbar .navbar-brand{
    color: #d5d5d5;
}

.navbar-nav li a:hover{
    color: #ffffff;
}

.navbar-nav li.active a{
    color: #ffffff;
    background-color: #29292c;
}

.navbar-default .navbar-toggle{
    border-color: transparent;
}

.open .dropdown-toggle{
    color: #ffffff;
    background-color: #555;
}

.dropdown-menu li a{
    color: #000;
}

.dropdown-menu li a:hover{
    background-color: greenyellow;
}

/* INDEX PAGE CSS */
#proxyButton{
    background-color: greenyellow;
    border: none;
    color: black;
    text-align: center;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    opacity: .9;
}

#footer{
    background-color: #555555;
    padding: 10px;
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}


#npmVersion{
    padding: 80px 0px;
    color: #ffffff;
}
#expressInfo{
    padding: 80px 0px;
    color: #ffffff;
}
